* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: pink;
  font-family: "Pixelify Sans", sans-serif;
}

body,
h3 {
  font-size: min(4.5vw, 32px);
}

a,
button {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
}

.error-message {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  text-transform: capitalize;
}

.settings-modal-container {
  height: 50vh;
  position: fixed;
  margin: auto;
  top: 10%;
  width: 100vw;
}

::backdrop {
  background-color: black;
  opacity: 0.7;
}

.radio-options-container {
  display: flex;
}

.main-heading {
  font-optical-sizing: auto;
  font-size: clamp(50px, 18vw, 120px);
  font-style: normal;
  font-weight: 500;
  margin: 0.25em auto;
  width: max-content;
}

.main-container {
  margin: auto;
  max-width: 600px;
  width: 95%;
}

.main-menu-container,
.play-game-container,
.high-scores-container {
  display: flex;
  justify-content: center;
}

.main-menu-container,
.high-scores-container {
  align-items: center;
  flex-direction: column;
}

.main-menu-container {
  height: 100vh;
}

/* menu buttons that exist on any page, not just on the main menu. */
.menu-buttons,
.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-button {
  background: pink;
}

.menu-button > a,
.menu-button > span {
  display: inline-block;
  padding: 10px;
  width: 100%;
}

.game-grid-container,
.game-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.game-details-container {
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.sub-headers-container,
.controller-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.level-heading,
.total-score-heading,
.rows-cleared-heading {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#canvas {
  border: 1px solid white;
}

.preview-img-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 170px;
  width: 25vw;
}

.preview-img {
  object-fit: cover;
  width: 100%;
}

.controller-row-one,
.controller-row-two,
.controller-row-three {
  display: flex;
  width: 100%;
}

.controller-container {
  gap: 10px;
}

.controller-row-one,
.controller-row-three {
  justify-content: center;
}

.controller-row-two {
  justify-content: space-between;
}

.controller-button {
  align-items: center;
  background: pink;
  border-radius: 100%;
  display: flex;
  font-size: inherit;
  height: 9.375vw;
  justify-content: center;
  max-height: 70px;
  max-width: 70px;
  width: 9.375vw;
}

.controller-button:hover {
  cursor: pointer;
}

.button-icon {
  width: 50%;
}

.player-score-container {
  pointer-events: none;
}

@media screen and (max-width: 300px) {
  .main-container {
    width: 100%;
  }

  .game-details-container {
    padding: 0;
  }
}

@media screen and (min-width: 400px) {
  .game-details-container {
    padding: 0 7%;
  }
}
